.button {
  background-color: #e0e0e0;
  color: #303030;
}

.button.clickable:hover {
  box-shadow: .1em .1em .1em .1em #c0c0c0;
  color: #303090;
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25em;
  border: none;
  border-radius: 25%;
}